/*******************ROOMSOOM ADMIN CUSTOM CSS BY KUNDAN KAPOOR*************************/


.button_color_white_new
{
	color:#ffffff !important;

}


.alert_center_new_text
{
	text-align:center;
}


label.error 
{
    color:#D71D24 !important;
}